body {
   background-image: url(../assets/images/vrv_bck.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   padding-bottom: 200px;
 }

h1 {
  color: white;
  font-size: 3em;
}

.chat-rooms {
    right: 0%;
    width: 15%;
    background: #003366;
    position: fixed;
    height: 100%;
    color: white;
    text-align: right;
}

.hr {
  padding-top: 5px;
  margin-top: 10px;
	border-top: 3px solid white;
}
